<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Familiares</title>
</head>
<body>
    <h1>Familiares</h1>

    <table border="1">
        <tr>
            <th>Nombre</th>
            <th>Edad</th>
            <th>Parentezco</th>
            <th>Fecha de nacimiento</th>
        </tr>

        {% for f in familia %}
        <tr>
            <td> {{f.nombre}} </td>
            <td> {{f.edad}} </td>
            <td> {{f.parentezco}} </td>
            <td> {{f.fecha_nac}} </td>
        </tr>
        {% endfor %} 

    </table>

    
</body>
</html>